use_nix

if [ ! -d ".venv" ] ; then
  echo "Installing virtualenv for $(python -V)"
  python -m venv .venv
fi

echo "Activating $(python -V) virtualenv"
source .venv/bin/activate

echo "Virtualenv has been activated for $(python -V)"
echo "$(which python)"
